<div>
    <h1>Lets Document your Life</h1>
    <!--<i class="fas fa-arrow-right"></i>-->
    <button class='delete' (click) ='deleteEntry()'>Delete Entries</button>
   <textarea placeholder='How was your day....' type='text' [(ngModel)] ='textArea'></textarea>
   <div class='asset-container'>
    <i class="far fa-grin" (click) = 'showEmojiField()'></i>
    <img *ngIf='emojiField' src='assets/30-300053_keyboard-comments-keyboard-icon-free-png.png'>
    <button (click)='entry()'>Save</button> 
   </div>
   <emoji-mart class="emoji-mart" *ngIf="emojiField" (emojiSelect)="addEmoji($event)" title="Choose your emoji">

   </emoji-mart>  
    <br>
    <br>
    <app-entries [entry] = 'entryList'></app-entries>     
</div>       