/*=====================================================================================
----------------------------TABLE OF CONTENT-----------------------------

HEADING
RIGHT ARROW
EMOJI AND BUTTON
EMOJI MART LIST
=======================================================================================*/


div{
    width:363px;
    height:175px;
    margin:0 auto;
    
    //HEADING
    h1{
        font-family: 'Gluten', cursive;
        margin-top:10%;
        color:#3E52BE;
        padding-bottom:20%;
        padding-left:15%;
        text-shadow: 3px 3px rgb(201, 199, 199);
    }
    
    //RIGHT ARROW
    .fa-arrow-right{
        position:relative;
        bottom:20%;
        color:#3E52BE;
        left:103%;
        font-size:1.2rem;    
    }

    .delete{
        background-image: linear-gradient(90deg, #ee097b 0%, #ff6a00 100%);
        color:white;
        border:none;
        padding:5px;
        border-radius:3px;
        position:relative;
        left:84%;
        bottom:20%;
    }

    textarea{
        width:363px;
        height:155px;
        padding:16px;
        border:1px solid #F7F8F9;
        border-radius:4px;
    }
    
    //EMOJI AND BUTTON
    .asset-container{
        height:0px;

        .fa-grin{
            color:#3E52BE;
            font-size:1.4rem;
            cursor:pointer;
        }        

        img{
            width:7%;
            position:relative;
            right:25px;
            top:5px;
        }

        button{
            background-color:#224272;
            padding:7px 16px 7px 16px;
            border:none;
            border-radius:18px;
            margin-left:92%;
            position:relative;
            bottom:26px;
            color:white;

        }
    }
    
    //EMOJI-MART LIST
    emoji-mart{
        position:relative;
        top:30%;
        left:20px;
        margin-bottom:5vh;
    }
}