/*====================================================================================
----------------------------------TABLE OF CONTENT------------------------------------

=====================================================================================*/

ul{
    list-style:none;
    animation: popFromBottom 0.5s ease-in-out;
    .close{
        color:rgb(78, 78, 78);
        margin-left:105%;
    }
       
    li{
        background-color:rgb(202, 214, 240);
        padding:5%;
        position:relative;
        right:5%;
        width:100%;
        border-radius:25px;
        div{

            i,span{
                color:#3E52BE;
            }
            i{
                padding-right:3px;
            }
            span{
                font-size:.8rem;
                padding:0 2px 5px 2px;        
            }
        }
    }
}


@keyframes popFromBottom {
  0% {
    transform: translateY(300px) scale(0);
  }

  100% {
    transform: translateY(0px) scale(1);
  }
}
