/*====================================================================================
----------------------------------TABLE OF CONTENT------------------------------------

=====================================================================================*/

ul{
    list-style:none;
    .close{
        color:rgb(78, 78, 78);
        margin-left:105%;
    }
       
    li{
        background-color:white;
        padding:5%;
        position:relative;
        right:5%;
        width:100%;
        border-radius:25px;
        div{

            i,span{
                color:#3E52BE;
            }
            i{
                padding-right:3px;
            }
            span{
                font-size:.8rem;
                padding:0 2px 5px 2px;        
            }
        }
    }
}
